/* CSS for Gjol Kro Restaurant Menu subpage*/

:root {
    background-color: #0B1938;
    background-color: #C8AE67;
    background-color: #3A4A48;
    background-color: #2F2220;
    background-color: #F7F4E2;
}
body, html {
    height: 100%;
    width: 100vw;
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto slab', serif;
}

/* Nav */

.header-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo menu";

}

.logo{
    width: 250px;
    margin-top: 70px;
    margin-left: 50px;
}

.menu{
    padding-top: 60px;
}

nav>ul{
    display: inline-block;
    margin-left: 200px;
    margin-top: 98px;
}

nav ul li{
    margin-top: 1em;
}

nav li {
display: inline;
float: left;
list-style-type: none;
margin-right: 1vw;
text-transform: capitalize;
}

nav>div>ul>li>a {
     text-transform: uppercase;
     text-decoration: none;
     color:rgb(0, 0, 0);
}

#reservation-cta{
    font-weight: 500;
    background-color: #C8AE67;
    padding: 2px;
}

nav>ul>li>a:hover {
     text-decoration: underline;
     transition: all 0.3s ease;     
}

@media (max-width: 1313px){
    #reservation-cta{
        margin-top: 40px;
    }

}

@media (max-width: 1000px){
    .header-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "logo"
        "menu";
    }
}

/* MENU main starts here */  

/* Secondary navigation for menu */

h1 {
    text-align: center;
    text-transform: uppercase;
}

.menu-nav {
    display: flex;
    text-transform: uppercase;    
    list-style-type: none;
    margin-left: 32%;
    margin-right: auto;
}

main > ul > li + li {
    padding-left: 30px;
}

/* Lunch section */

.background {
    background-color: #3A4A48;
    margin: 50px;
    color: #F7F4E2;
}

h2 {
    color: #F7F4E2;
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
}

.serving-hours {
    text-align: center;
    font-weight: 200;
    font-size: 18px;
    padding-bottom: 50px;
}

h3 {
    color: #F7F4E2;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid #F7F4E2;
    padding-bottom: 1em;
}

div > ul > li {
    text-transform: uppercase;
    list-style-type: none;
}

.food-description {
    color: #C8AE67;
    text-transform: capitalize;
    padding-bottom: 25px;
}

/* Grid for the menu items and prices*/

.menu-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "menu-items" "menu-prices";
}

.menu-items {
    grid-area: menu-items;
}

.menu-prices {
    grid-area: menu-prices;
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
    padding-right: 20px;
}

.none {
    color: #3A4A48;
    padding-bottom: 25px;
}

.gourmet-h3 {
    color: #F7F4E2;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid #3A4A48;
}

.padding {
    padding-bottom: 20px;
}
