/* CSS for Gjol Kro Restaurant Menu subpage*/

:root {
    background-color: #0B1938;
    background-color: #C8AE67;
    background-color: #3A4A48;
    background-color: #2F2220;
    background-color: #F7F4E2;
}
body, html {
    height: 100%;
    width: 100vw;
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto slab', serif;
}

/* Nav */

.header-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo menu";
}

.logo{
    width: 250px;
    margin-top: 70px;
    margin-left: 50px;
}

.menu{
    padding-top: 30px;
}

nav>ul{
    display: inline-block;
    margin-left: 200px;
    margin-top: 98px;
   
}

nav ul li{
    margin-top: 1em;
}

nav li {
display: inline;
float: left;
list-style-type: none;
margin-right: 1vw;
text-transform: capitalize;
}

nav>ul>li>a {
     text-transform: uppercase;
     text-decoration: none;
     color:rgb(0, 0, 0);
}

#reservation-cta{
    font-weight: 500;
    background-color: #C8AE67;
    padding: 2px;
}

nav>ul>li>a:hover {
     text-decoration: underline;
     transition: all 0.3s ease;     
}

@media (max-width: 1313px){
    #reservation-nav{
        margin-top: 40px;
    }

}

@media (max-width: 1000px){
    .header-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "logo"
        "menu";
    }
}

/* MENU section starts here */  