/* CSS for Gjol Kro Restaurant */

:root {
     background-color: #0B1938;
     background-color: #C8AE67;
     background-color: #3A4A48;
     background-color: #2F2220;
     background-color: #F7F4E2;
     font-family: 'Roboto', sans-serif;
}
body, html {
     height: 100%;
     margin: 0;
     margin:0;
     padding:0;
     box-sizing: border-box;
}

/* Nav*/
#top-logo {
     display: block;
     margin-left: auto;
     margin-right: auto;
     padding-top: 25px;
}

nav {
     display: flex;
     justify-content: center;
}

nav li {
display: inline;
float: left;
list-style-type: none;
margin-right: 3vw;
text-transform: capitalize;
}

nav li>a {
     text-decoration: none;
}

nav>ul>li>a {
     text-transform: uppercase;
     color:rgb(0, 0, 0);
}

nav>ul>li>a:hover {
     text-decoration: underline;
     color: #C8AE67;
     transition: all 0.3s ease;     
}

#landing-image {
     display: block;
     margin-left: auto;
     margin-right: auto;
}

/* main section*/

.welcome {
     font-size: 22px;
     text-align: center;
     margin: 0 auto;
     margin-bottom: 100px;
     padding: 10px;
     width: 80vw;
     border-style: double;
     border-color: rgb(129, 110, 0);
     border-width: 5px;
     
}


.welcome>h1 {
     padding-top: 10px;
     }


h1 {
     font-weight: 200;
}

button {
     background-color: #C8AE67;
     border-radius: 30px;
     height: 45px;
     width: 180px;
     text-transform: uppercase;
     border-color:#C8AE67;
}

button:hover{
     background-color: #645835;
     border-width: 5px;
     transition: all 0.3s ease;
     color:white;
}

/*reservation page*/

#reservation  {
     font-family: 'Roboto Slab', serif;
     font-size: 40px;
     text-align: center;
     color:#000000 ;
     font-weight: 700;
     text-decoration: none;   
 }
.container2 img {
     width: 450px;
   }
 
.container2 {
     background-color: #3A4A48;
     margin-top: 5px;
     margin-right: 100px;
     margin-bottom: 100px;
     margin-left: 100px;
     box-shadow: 10px 15px 20px rgba(0, 0, 0, .5);
     display: grid;
     grid-template-columns: 40% 60%;
    
}
.options, nav li {
     display: inline;
    
}

.options2, nav li {
     display: inline;
   
}
.options,.options2,   nav li>a {
               text-decoration: none;
          }
          
          
 .options2,.options,  nav>ul>li>a:hover {
     text-decoration: underline;
     color: #C8AE67;
     transition: all 0.3s ease;     
}
          


#book  {
     font-family: 'Roboto Slab', serif;
     font-size: 25px;
     color:#F7F4E2 ;
     font-weight: 5;
     text-decoration: none;   
     display: inline-block;
     margin-left: 5vw;
     padding-left: 5vw;
 }

 #event {
     font-family: 'Roboto Slab', serif;
     font-size: 25px;
     margin-left: 5vw;
     color:#F7F4E2 ;
     font-weight: 5;
     text-decoration: none;
     display: inline-block;
 }

 #book:hover{
     color: #C8AE67;
     transition-duration: 0.3s;
     text-decoration: underline;
 }
        
 #event:hover{
     color: #C8AE67;
     transition-duration: 0.3s;
     text-decoration: underline;
 }

 #name, #date, #people, #time, #email, #notes   {
     font-family: 'Roboto Slab', serif;
     font-size: 20px;
     color:#F7F4E2 ;
     font-weight: 5;
     text-decoration: none;

 }

 .form-field > #time {
     margin-top: 150px ;
    }



 .container2-form {
     padding: 50px 40px 0px 10px;
     margin:  20px ;
     color: #F7F4E2;
 }
 
 form {
     display: grid;
 }
 
 .form-field p {
     font-weight: 600;
     font-family: 'Roboto', sans-serif;
 }
 
 .form-field {
     font-family: 'Roboto', sans-serif;
     display: inline-block;
     padding-left: 100px;

 }
                     
 .form-field input,select {
     padding: 5px 5px;
 }
 
 .container2 textarea {
     padding: 5px 5px 150px 10px;
 }
 .container2 .button {
     font-size: 25px;
     font-family: 'Roboto Slab', serif;
     color: #3A4A48;
     background-color:#F7F4E2;
     cursor: pointer;
     transition-duration: 0.4s;
    
 }
.button:hover {
     color: #F7F4E2;
     background:#3A4A48;
 }
                     
                                

/* Grid*/

.grid-container {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-areas: 
     "content1 content2"
     "content3 content4"
     "content5 content6";
     grid-gap: 0;
     text-align: center;
     color: #000;
}

.grid-section>p {
     margin-top: 150px;
     margin-left: 25%;
     width: 50%;
     font-size: 33px;
     text-align: left;
     

}

#content1 {
     grid-area: content1;
}

#content2 {
     grid-area: content2;

}

#content3 {
     grid-area: content3;
}

#content4 {
     grid-area: content4;
}

#content5 {
     grid-area: content5;
}

#content6 {
     grid-area: content6;
}


/* history*/

.history {
     width: 99vw;
     height: 100vh;
     background-color: #C8AE67;
}

.history-text1{
     width: 50vw;
     height: 40vh;
     margin-left: 50px;
     padding-top: 100px;
     font-size: 33px;
}

.history-text2{
     width: 50vw;
     height: 40vh;
     margin-left: 50px;
     margin-top: 60px;
     font-size: 22px;
}

.history-image{
     background-image: url(images/img1.png);
     width: 40vw;
     height: 100vh;
     float:right;
}

/* Promotion*/

.promotion{
     height: 95vh;
     width: 100vw;
     background-color: #3A4A48;
     margin:0;  
}
.promotion>.potato{
     margin-top: 30px;
     margin-left: 30px;
}

/*Reservations*/

.reservations-events {
     display: grid;
     grid-template-columns: 0.5fr 1fr 0.5fr 1fr;
     grid-template-rows: auto;
     grid-template-areas: "card card card card";
     width: 100vw;
     height: 70vh;
     background-color: #C8AE67;
}
.card{
     margin: 0 auto;
     padding-top: 20%;
}

#wine{
     padding-top: 40%;
}
#mushroom{
     padding-top: 30%;
     padding-left: 10%;
}

.reservations-events button{
     margin-top: 30px;
     background-color: #2F2220;
     color: white;
}
#book-us{
     margin-top:65px;
}

h2{
     font-size: 2.5rem;
     color: #2F2220;
     text-transform: uppercase;
}

/* Footer */

.footer-container{
     width: 100vw;
     background-color: #2F2220;
     margin:auto;
 }
 .row{
     display:flex;
     flex-wrap:wrap;
 }
 .footer-col ul{
     list-style-type:none;
 }
 .footer-col a{
      text-decoration: none;
 }
 .footer-col a h4:hover{
      padding-left: 8px;
      transition: all 0.3s ease;
}
 .footer{
     background-color:#2F2220;
     padding: 30px 0;
 }
 .footer-col{
     width: 18%;
     padding: 0 15px;
 }
 .footer-col h4{
     font-size: 18px;
     margin-left: 38px;
     text-transform: capitalize;
     color: white;
     margin-bottom:30px;
     position: relative;
 }
 .footer-col h4::before{
      content: "";
     position: absolute;
     left:0;
     bottom:-10px;
     background-color: white;
     height: 2px;
     box-sizing: border-box;
     width: 50px;
 }
 .footer-col ul li:not(:last-child){
     margin-bottom: 10px;
 }
 .footer-col ul li a{
     font-size: 16px;
     text-transform: capitalize;
     color: white;
     text-decoration: none;
     display: block;
     transition: all 0.3s ease;
 }
 .footer ul li a:hover {
      color:white;
      padding-left: 8px;
 }
 .footer-col .social-links a{
     display: inline-block;
     height: 50px;
     width: 50px;
     background-color: white;
     margin: 0 15px 20px 0;
     text-align: center ;
     line-height: 50px;
     border-radius: 50%;
     color: black;
     transition: all 0.5s ease;
 }
 .footer-col .social-links a:hover{
     color: black;
     background-color: #C8AE67;
 }
 
 /*responsive*/
 @media(max-width: 767px){
     .footer-col {
         width: 50%;
         margin-bottom:30px;
     }
 }
 @media(max-width: 574px){
     .footer-col {
         width: 100%;
     }
 }

 /*gallery*/

 *, {

     box-sizing: border-box;
 }
 
 body, html {
     scroll-behavior: smooth;
 }
 
 #top-logo {
     display: block;
     margin-left: auto;
     margin-right: auto;
     padding-top: 25px;
}

nav {
     display: flex;
     justify-content: center;
}

nav li {
display: inline;
float: left;
list-style-type: none;
margin-right: 3vw;
text-transform: capitalize;
}

nav li>a {
     text-decoration: none;
}

nav>ul>li>a {
     text-transform: uppercase;
     color:rgb(0, 0, 0);
}

nav>ul>li>a:hover {
     text-decoration: underline;
     color: #C8AE67;
     transition: all 0.3s ease;     
}
 

 
 
   
 .p1 {
     font-family: roboto slab;
     font-weight: bold;
     font-size: 30px;
     margin-top: 55px;
     margin-left: 565px;
     margin-bottom: 0;
     
 }

 
 .p2 {
     font-family: roboto slab;
     font-weight: bold;
     font-size: 22px;
     margin-left: 115px;
 }
 
 .main {
     justify-content: center;
     align-items: center;
     margin-top: 10px;
     width: 100vw;
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(520px, 520px));
     column-gap: 10px;
     row-gap: 10px;
     margin-bottom: 60px;
 }
 
 .main > img {
     width: 520px;
     height: 520px;
     object-fit: cover;
     object-position: center;
 }
 
 .main2 {
     justify-content: center;
     align-items: center;
     margin-top: 10px;
     width: 100vw;
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(520px, 1050px));
     column-gap: 10px;
     row-gap: 10px;
     margin-bottom: 60px;
 }
 
 .salmon {
     box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
     transition: 1s;
 }
 
 .salmon:hover {
     transform: scale(1.04);
     z-index: 2;
 }
 
 .mussel {
     box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
     transition: 1s;
 }
 
 .mussel:hover {
     transform: scale(1.04);
     z-index: 2;
 }
 
 .tartar {
     box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
     transition: 1s;
 }
 
 .tartar:hover {
     transform: scale(1.04);
     z-index: 2;
 }
 
 .fish {
     box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
     transition: 1s;
 }
 
 .fish:hover {
     transform: scale(1.04);
     z-index: 2;
 }
 
 .caviar {
     box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
     transition: 1s;
 }
 
 .caviar:hover {
     transform: scale(1.04);
     z-index: 2;
 }
 
 .chicken {
     box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
     transition: 1s;
 }
 
 .chicken:hover {
     transform: scale(1.04);
     z-index: 2;
 }
 
 .cod {
     box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
     transition: 1s;
 }
 
 .cod:hover {
     transform: scale(1.04);
     z-index: 2;
 }
 
 .pork {
     box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
     transition: 1s;
 }
 
 .pork:hover {
     transform: scale(1.04);
     z-index: 2;
 }
 
 .image1 {
     width: 1050px;
     box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
     transition: 1s;
 }
 
 .image1:hover {
     transform: scale(1.04);
     z-index: 2;
 }
 
 .image2 {
     width: 1050px;
     box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
     transition: 1s;
 }
 
 .image2:hover {
     transform: scale(1.04);
     z-index: 2;
 }
 
 .panacotta {
     box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
     transition: 1s;
 }
 
 .panacotta:hover {
     transform: scale(1.04);
     z-index: 2;
 }
 
 .choco {
     box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
     transition: 1s;
 }
 
 .choco:hover {
     transform: scale(1.04);
     z-index: 2;
 }
 
 .coffee {
     box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
     transition: 1s;
 }
 
 .coffee:hover {
     transform: scale(1.04);
     z-index: 2;
 }
 
 .chocolate {
     box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
     transition: 1s;
 }
 
 .chocolate:hover {
     transform: scale(1.04);
     z-index: 2;
 }
