body {
     background-color: crimson;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD

=======
     color: antiquewhite;
>>>>>>> 9c18880abdd750a5bf3ca40d3c2ed3cfcb55d5ea
=======
}
.balazs {
     color: hotpink;
>>>>>>> 709f4c6d637617c8982347bf790796d2e5ea453e
}

.marci {
     color: blue;
=======
}
.balazs {
     color: hotpink;
>>>>>>> 9d5e2227a21e6cec2b2ed23c35187cb466608493
}