/* CSS for Gjol Kro Restaurant */

:root {
     background-color: #0B1938;
     background-color: #C8AE67;
     background-color: #3A4A48;
     background-color: #2F2220;
     background-color: #F7F4E2;
}
body, html {
     height: 100%;
     width: 100vw;
     padding:0;
     box-sizing: border-box;
     font-family: 'Roboto slab', serif;
}

/* Nav*/
.logo{
    display: block;
    width: 250px;
    margin-top: 70px;
}

nav>ul{
    display: inline-block;
    margin-left: 40%;
    margin-top: 98px;
   
}

nav li {
display: inline;
float: left;
list-style-type: none;
margin-right: 3vw;
text-transform: capitalize;
}

nav>ul>li>a {
     text-transform: uppercase;
     text-decoration: none;
     color:rgb(0, 0, 0);
}

#reservation-nav{
    font-weight: 500;
    background-color: #C8AE67;
    padding: 8px;
}

nav>ul>li>a:hover {
     text-decoration: underline;
     transition: all 0.3s ease;     
}

/* nav ends here, hero starts here*/

.hero-container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "hero-text hero-image";
}

.hero-text{
    grid-area: hero-text;
    padding-left: 80px;
    padding-top: 100px;
    width: 70%;
}

.hero-text p{
    font-size: 1.2rem;
    margin-bottom: 50px;
}
.hero-text h1{
    margin-bottom: 30px;
    text-transform: uppercase;
}
.hero-image{
    grid-area: hero-image;
    padding-right: 70px;
    padding-top:60px;
}

#hero-button{
    margin-left:0;
}

@media (max-width: 767px){
    .hero-container{
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "hero-text";
    }
    .hero-text{
        grid-area: hero-text;
        padding-left: 80px;
        padding-top: 100px;
        width: 80%;
    }
    .hero-image{
        display: none;
    }
    .logo{
        padding-left: 100px;
    }
}


/* Button*/
button {
    font-size: 1rem;
    font-weight: 300;
     background-color: #F7F4E2;
     border-style: groove;
     border-radius: 50px;
     height: 45px;
     width: 200px;
     text-transform: uppercase;
     border-color:#C8AE67;
     margin: 0 auto;

}

button:hover{
     background-color: #cfcaae;
     border-width: 2px;
     transition: all 0.3s ease;
     color:black;
     cursor: pointer;
}

/* Main section */

/* Promotion*/

.promotion{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
    grid-template-areas: "promo-image promo-form";
    height: 85vh;
    width: 100vw;
    background-color: #3A4A48;
    color: #F7F4E2;
}

.promotion h2{
    font-size: 2.5rem;
    color: #F7F4E2;
    text-transform: uppercase;
}

.promotion h4{
    font-size: 1.3rem;
    padding-right: 20px;
}

.promo-image{
grid-area: promo-image;
padding-left: 80px;
}

.promo-form{
    grid-area: promo-form;
    padding: 0 20px 0 20px;
    margin: 0 auto;
    padding-top: 30px;
}

.promotion input{
    position: relative;
    top: 60px;
    left: -70px;
    width: 60%;
    height: 50px;
    padding: 12px 20px;
    margin-top: 20px;
    box-sizing: border-box;
    background-color: #3A4A48;
    border: 1px solid #C8AE67;
    border-radius: 50px;
}

input[type="submit"] {
    background-color: #C8AE67;
    width: 180px; 
    height: 50px;
    border: 1px solid #C8AE67;
    border-radius: 50px;
    margin-left: 500px;
    margin-top: -51px;
    font-size: 1.3rem;
    text-transform: uppercase;
}

input[type="submit"]:hover {
    background-color: #cfcaae;
    border-width: 2px;
    transition: all 0.3s ease;
    color:black;
    cursor: pointer;
}

input[type="checkbox"] {
    position: relative;
    margin-left: -120px;
    margin-top: 0px;
    -ms-transform: scale(0.5); /* IE */
    -moz-transform: scale(0.5); /* FF */
    -webkit-transform: scale(0.5); /* Safari and Chrome */
    -o-transform: scale(0.5); /* Opera */
    transform: scale(0.5);
    padding: 10px;
   }

label[for="terms"]{
    position: relative;
    top:100px;
    width: 600px;
    font-size: 0.8rem;
    margin-left: 80px;
}

@media screen and (max-width: 767px) {
    .promotion{
        display:grid;
        grid-template-columns: 1fr;
        grid-row: auto;
        grid-template-areas: "promo-form";}
    .promo-image{
        display: none;}
    input[type="submit"] {
            background-color: #C8AE67;
            width: 180px; 
            height: 50px;
            border: 1px solid #C8AE67;
            border-radius: 50px;
            margin-left: 30px;
            margin-top: 20px;
            font-size: 1.3rem;
            text-transform: uppercase;
        }
    }

@media screen and (max-width: 574px){
    .promo-form{
        grid-area: promo-form;
        width: 100vw;
        padding: 5px;
        margin: 0 auto;
        padding-top: 20px;
    }

    h2{
        width: 300px;
        padding-left: 30px;
    }
    h4{
        width: 300px;
        padding-left: 30px;
    }
    input[type="submit"] {
        margin-left: 0 auto;
        width: 180px; }
    input[type="email"]{
        margin-left: 20px;
    }
    input[type="checkbox"] {
        font-size: 0.9rem;
    }
}

/*reservation page*/

#reservation  {
     font-family: 'Roboto Slab', serif;
     font-size: 40px;
     text-align:right;
     margin-right: 18.5vw;
     color:#000000 ;
     font-weight: 700;
     text-decoration: none;   
 }
#gk{
    float: left;
    margin-top: 7vw;
}
.container2 {
     background-color: #3A4A48;
     margin-right: 5vw;
     margin-bottom: 5vw;
     margin-left: 50vw;
     box-shadow: 10px 15px 20px rgba(0, 0, 0, .5);
     display: grid;
     grid-template-columns: 100% 100%;
    
}
.options, nav li {
     display: inline;
    
}

.options2, nav li {
     display: inline;
   
}
.options,.options2,   nav li>a {
               text-decoration: none;
          }
          
          
 .options2,.options,  nav>ul>li>a:hover {
     text-decoration: underline;
     transition: all 0.3s ease;     
}
          

#book  {
     font-family: 'Roboto', serif;
     font-size: 30px;
     color:#F7F4E2 ;
     font-weight: lighter;
     text-decoration: none;   
     display: inline-block;
     margin-left: -0.5vw;
     padding-left: 5vw;
 }

 #event {
    font-family: 'Roboto', serif;
     font-size: 30px;
     margin-left: 5vw;
     color:#F7F4E2 ;
     font-weight: lighter;
     text-decoration: none;
     display: inline-block;
 }

 #book:hover{
     color: #C8AE67;
     transition-duration: 0.3s;
     text-decoration: underline;
 }
        
 #event:hover{
     color: #C8AE67;
     transition-duration: 0.3s;
     text-decoration: underline ;
 }

 #name, #date, #people, #time, #email, #notes  {
     font-family: 'Roboto Slab', serif;
     font-size: 25px;
     color:#F7F4E2 ;
     font-weight: lighter;
     text-decoration: none;
     display: inline;
 
 }

 #fullname, #calendar,#number, #clock, #email-adresse, #message {
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    color:#F7F4E2 ;
    font-weight: lighter;
    text-decoration: none;
    display: inline;

}

#date { 
     margin-left: -1.8vw;     
}

#calendar { 
    margin-left: -6vw;     
}

#time { 
    margin-top: -5.9vw;
    margin-left: 11vw;  

}

#clock { 
    margin-top: -0.2vw;
    margin-left: 9vw; 
    padding-right: 2vw;
    padding-left: 1vw;
    align-content: center;
}


#people { 
     margin-top: -5.9vw;
     margin-left: 31vw;  
}
#number { 
margin-top: -2vw;
margin-left: 27vw; 
margin-right: -1vw; 
   
}
#name { 
     margin-left: 11vw; 
     margin-top: 3vw;
    
           
 }

#fullname { 
     margin-top: -3vw; 
     margin-left: -6vw; 
     padding: 0vw 24vw 0vw 0.1vw;
     }


#email { 
    margin-left: 8.2vw; 
    margin-top: 3vw;    
}

#email-adresse{ 
    margin-top: -3vw; 
    margin-left: -6vw; 
     padding: 0vw 24vw 0vw 0.1vw;
}



 .form-field > #time,#name, #date, #people, #email, #notes{
      display: flex;
}

 .container2-form {
     padding: 50px 40px 0px 10px;
     margin:  20px ;
     color: #F7F4E2; 
 }
 
 form {
     display: grid;
 }
 
 .form-field p {
     font-weight: 600;
     font-family: 'Roboto', sans-serif;
 }
 
 .form-field {
     font-family: 'Roboto', sans-serif;
     display: inline-block;
     padding-left: 100px;
     background-color: #3A4A48;

 }
                     
 .form-field input,select {
     font-family: 'Roboto', sans-serif;
     color: #F7F4E2;
     background-color: #3A4A48;
 }


 .container2 textarea {
    margin-top: -10vw; 
    margin-left: -6vw; 
    padding: 0vw 24vw 0vw 0.1vw;
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    background-color: #3A4A48;
 }

 #notes { 
     margin-left: 11vw; 
     margin-bottom: 3.5vw; 
           
     }


 .container2 .button {
    margin-top: 3vw;
    margin-left: 13.5vw;
    font-size: 22px;
    font-family: 'Roboto Slab', serif;
    color: #3A4A48;
    font-weight: normal;
    background-color:#F7F4E2;
    cursor: pointer;
    transition-duration: 0.4s;
    
 } 
.button:hover {
     color: #F7F4E2;
     background:#3A4A48;
 }
                     
                                

/* Home page Grid*/

.grid-container {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-areas: 
     "content2 content1"
     "content4 content3"
     "content6 content5";
     grid-gap: 0;
     text-align: center;
     color: #000;
}

.grid-section>p {
     margin-top: 150px;
     margin-left: 160px;
     width: 50%;
     font-size: 33px;
     text-align: left;
     

}

#content1 {
     grid-area: content1;
}
#content3  p {
    padding-left: 80px;
}
#content2 {
     grid-area: content2;
}
#content3 {
     grid-area: content3;
}
#content4 {
     grid-area: content4;
}
#content5 {
     grid-area: content5;
}
#content6 {
     grid-area: content6;
}

@media screen and (max-width: 767px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "content2" "content1"
        "content3" "content4"
        "content6" "content5";
   }
}

/* history 

.history {
     width: 99vw;
     height: 100vh;
     background-color: #C8AE67;
}

.history-text1{
     width: 50vw;
     height: 40vh;
     margin-left: 50px;
     padding-top: 100px;
     font-size: 33px;
}

.history-text2{
     width: 50vw;
     height: 40vh;
     margin-left: 50px;
     margin-top: 60px;
     font-size: 22px;
}

.history-image{
     background-image: url(images/img1.png);
     width: 40vw;
     height: 100vh;
     float:right;
}

/*Reservations*/

.reservations-events {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: auto;
     grid-template-areas: "card card";
     width: 100vw;
     height: 80vh;
     background-color: #3A4A48;
     color: #F7F4E2;
}
.card {
     margin: 0 auto;
     padding-top: 15%;
}

.card p{
    width: 70%;
    font-size: 1.3rem;
    font-weight: 300;
}

.card h3{
    text-transform: uppercase;
    font-size: 2rem;
}

.reservations-events button{
     margin-top: 20px;
     margin-left: 0px;
     background-color: #3A4A48;
     color: #F7F4E2;
    border-color: #F7F4E2;
    border-style: solid;
    border-width: 2px;

}

.reservations-events button:hover{
    background-color: #ad9759;
    font-size: 1.1rem;
    border-width: 3px;
}

.reservations-events img{
    padding-left:20%;
    padding-top: 20px;
}

@media(max-width: 767px){
    .reservations-events img{
        display: none;}
    .reservations-events {
         display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "card";
       }
       .card {
        padding-left: 50px;
   }
}
@media(max-width: 574px){
    .reservations-events img{
        display: none;}
}


/* Footer */

.footer-container{
    font-family: roboto;
     width: 100vw;
     height: fit-content;
     background-color: #2F2220;
     margin:auto;
     color:#F7F4E2;
     text-transform: uppercase;
     font-size: 1.2rem;
 }
 .footer-row{
     display:flex;
     flex-wrap:wrap;
 }

 .footer-button{
    background-color: #2F2220;
    border: solid #F7F4E2 2px;
    color:#F7F4E2;
}

.footer-button:hover{
    background-color: #ad9759;
    font-size: 1.1rem;
    border-width: 3px;
}

.footer-container>img{
    margin-left: 30px;
}

 .footer-col ul{
     list-style-type:none;
 }
 .footer-col a{
      text-decoration: none;
 }
 .footer-col a h4:hover{
      padding-left: 8px;
      transition: all 0.3s ease;
}
 .footer{
     background-color:#2F2220;
     padding: 30px 0;
 }
 .footer-col{
     width: 22%;
     padding: 0px 15px;
     
 }
 .footer-col h4{
     text-transform: uppercase;
     font-weight: 600;
     font-size: 18px;
     margin-left: 38px;
     color: white;
     margin-bottom:30px;
     position: relative;
 }
 
 .footer-col ul li:not(:last-child){
     margin-bottom: 10px;
 }
 .footer-col ul li a{
    font-size: 1.2rem;
    text-transform: uppercase;
     color: white;
     text-decoration: none;
     display: block;
     transition: all 0.3s ease;
     padding-top: 15px;
 }
 .footer ul li a:hover {
      color:white;
      padding-left: 8px;
 }
 .footer-col .social-links a{
     display: inline-block;
     height: 50px;
     width: 50px;
     background-color: white;
     margin: 0 15px 20px 0;
     text-align: center ;
     line-height: 50px;
     border-radius: 50%;
     color: black;
     transition: all 0.5s ease;
 }
 .footer-col .social-links a:hover{
     color: black;
     background-color: #C8AE67;
 }
 
#click-here{
    padding-top: 20px;
}

.copyright{
    font-size: 0.7rem;
    width: 100vw;
    height: 30px;
    border-top: solid 1px white;
    text-align: center;
    padding-bottom: 3px;

}

 /*responsive*/
 @media(max-width: 767px){
     .footer-col {
         width: 50%;
         margin-bottom:30px;
     }
 }
 @media(max-width: 574px){
     .footer-col {
         width: 100%;
     }
 }

 /*gallery*/

 *, {

     box-sizing: border-box;
 }
 
 body, html {
     scroll-behavior: smooth;
 }
 
 #top-logo {
     display: block;
     margin-left: auto;
     margin-right: auto;
     padding-top: 25px;
}

nav {
     display: flex;
     justify-content: center;
}

nav li {
display: inline;
float: left;
list-style-type: none;
margin-right: 3vw;
text-transform: capitalize;
}

nav li>a {
     text-decoration: none;
}

nav>ul>li>a {
     text-transform: uppercase;
     color:rgb(0, 0, 0);
}

nav>ul>li>a:hover {
     text-decoration: underline;
     transition: all 0.3s ease;     
}
 

 
 .p1 {
     font-family: roboto slab;
     font-weight: bold;
     font-size: 30px;
     margin-top: 55px;
     margin-left: 640px;
     margin-bottom: 0;
     
     
 }

 
 .p2 {
     font-family: roboto slab;
     font-weight: bold;
     font-size: 22px;
     margin-left: 115px;
 }


 
 
 .main {
     justify-content: center;
     align-items: center;
     margin-top: 10px;
     width: 100vw;
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(520px, 520px));
     column-gap: 10px;
     row-gap: 10px;
     margin-bottom: 60px;
 }
 
 .main > img {
     width: 520px;
     height: 520px;
     object-fit: cover;
     object-position: center;
 }

.banner {
 position: relative;
 width: 90%;
}

.heading1 {
    position: absolute;
    top: 35%;
    left: 30% ;
    width: 100%;
    color: #F7F4E2;

}

.paragraph1 {
    position: absolute;
    top: 44%;
    left: 30% ;
    width: 100%;
    color: #F7F4E2;
}
 
.heading2 {
    position: absolute;
    top: 35%;
    left: 30% ;
    width: 100%;
    color: #000000;

}

.paragraph2 {
    position: absolute;
    top: 44%;
    left: 30% ;
    width: 100%;
    color: #000000;
}




 .heading3 {
    position: absolute;
    top: 35%;
    left: 22% ;
    width: 100%;
    color: #000000;
 }

 .paragraph3 {
    position: absolute;
    top: 44%;
    left: 23% ;
    width: 100%;
    color: #000000;
 }

 .heading4 {
    position: absolute;
    top: 35%;
    left: 22% ;
    width: 100%;
    color: #ffffff;
 }

 .paragraph4 {
    position: absolute;
    top: 44%;
    left: 23% ;
    width: 100%;
    color: #ffffff;
 }